asgiref==3.4.1
astroid==2.8.0
attrs==20.3.0
autopep8==1.5.7
cached-property==1.5.2
distro==1.5.0
Django==3.2.6
django-crispy-forms==1.12.0
django-debug-toolbar==3.2.2
django-redis==5.0.0
djangorestframework==3.12.4
docopt==0.6.2
isort==5.9.3
jsonschema==3.2.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
Pillow==8.3.1
platformdirs==2.4.0
psycopg2-binary==2.9.1
pybind11==2.6.2
pycodestyle==2.7.0
pylint==2.11.1
pyrsistent==0.17.3
python-dotenv==0.15.0
pytz==2021.1
redis==3.5.3
shadowsocks==2.8.2
six==1.16.0
sqlparse==0.4.1
texttable==1.6.3
toml==0.10.2
typing-extensions==3.10.0.2
websocket-client==0.57.0
wrapt==1.12.1
