{% extends "course/base_course.html" %}

{% block course-main-detail %}
    <h1>{{ course.title }}</h1>
    <h3>{{ course.category }}</h3>
    <p>{{ course.description }}</p>
    <h1>Chapters</h1>
    {% for chapter in course.chapters.all %}
        <h1>{{ chapter.chapter_title }}</h1>
    {% endfor %}
    <h1>Comments</h1>
    {% for comment in comments %}
        <h1>{{ comment.user.email }}</h1>
        <p>{{ comment.created_time }}</p>
        <p>{{ comment.comment }}</p>
    {% endfor %}

{% endblock %}

