{% comment %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor</title>
    </head>

    <body>

        {% for doctor in doctor_list %}

        <div class="docotor-container">
            <h1><a href="{% url 'doctor_detail' doctor.id%}">{{  doctor.name }} </a></h1>
        </div>

        {% endfor %}


        {% for contact in page_obj %}
        {# Each "contact" is a Contact model object. #}
        {{ contact.full_name|upper }}<br>
        ...
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </body>

</html> {% endcomment %}

{% load static %}
<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <title>خودروی من - قالب ریسپانسیو html 5</title>
        <!--Bootstrap -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
        <!--Custome Style -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
        <!--OWL Carousel slider-->
        <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'assets/css/owl.transitions.css' %}" type="text/css">
        <!--slick-slider -->
        <link href="{% static 'assets/css/slick.css' %}" rel="stylesheet">
        <!--bootstrap-slider -->
        <link href="{% static 'assets/css/bootstrap-slider.min.css' %}" rel="stylesheet">
        <!--FontAwesome Font Style -->
        <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">

        <!-- Custom Colors -->
        <link rel="stylesheet" href="{% static 'assets/colors/red.css' %}">
        <!--<link rel="stylesheet" href="assets/colors/orange.css">-->
        <!--<link rel="stylesheet" href="assets/colors/blue.css">-->
        <!--<link rel="stylesheet" href="assets/colors/pink.css">-->
        <!--<link rel="stylesheet" href="assets/colors/green.css">-->
        <!--<link rel="stylesheet" href="assets/colors/purple.css">-->

        <!-- Fav and touch icons -->
        <link rel="{% static 'apple-touch-icon-precomposed' %}" sizes="144x144"
            href="{% static 'assets/images/favicon-icon/apple-touch-icon-144-precomposed.png' %}">
        <link rel="{% static 'apple-touch-icon-precomposed' %}" sizes="114x114"
            href="{% static 'assets/images/favicon-icon/apple-touch-icon-114-precomposed.png' %}">
        <link rel="{% static 'apple-touch-icon-precomposed' %}" sizes="72x72"
            href="{% static 'assets/images/favicon-icon/apple-touch-icon-72-precomposed.png' %}">
        <link rel="{% static 'apple-touch-icon-precomposed' %}"
            href="{% static 'assets/images/favicon-icon/apple-touch-icon-57-precomposed.png' %}">
        <link rel="shortcut icon" href="{% static 'assets/images/favicon-icon/favicon.png' %}">
        <!-- Google-Font-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    </head>

    <body>
        {{name}}

        <!--Header-->
        <header>
            <div class="default-header">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-9 col-md-10">
                            <div class="header_info">

                                <div class="login_btn"><a href="#loginform" class="btn btn-xs uppercase"
                                        data-toggle="modal" data-dismiss="modal">ورود / ثبت نام</a></div>
                                <div class="social-follow">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="header_widgets">
                                    <div class="circle_icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    <p class="uppercase_text"> : ارسال ایمیل به پشتیبانی </p>
                                    <a href="mailto:info@example.com">info@rtl-html.ir</a>
                                </div>
                                <div class="header_widgets">
                                    <div class="circle_icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                    <p class="uppercase_text"> : تماس بگیرید </p>
                                    <a href="tel:61-1234-5678-09">09363669731</a>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-3 col-md-2">
                            <div class="logo"><a href="index.html"><img src="assets/images/logo.png" alt="image" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation -->
            <nav id="navigation_bar" class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button id="menu_slide" data-target="#navigation" aria-expanded="false" data-toggle="collapse"
                            class="navbar-toggle collapsed" type="button"><span class="sr-only">تغییر پیمایش</span>
                            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div style="float: right" class="collapse navbar-collapse" id="navigation">
                        <ul class="nav navbar-nav">

                            <li><a href="about-us.html">درباره ما</a></li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">فهرست</a>
                                <ul class="dropdown-menu">
                                    <li><a href="listing-grid.html">استایل اول</a></li>
                                    <li><a href="listing-classic.html">استایل کلاسیک</a></li>
                                    <li><a href="listing-detail.html">صفحه جزییات اول</a></li>
                                    <li><a href="listing-detail-2.html">صفحه جزییات دوم</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">نمایندگی
                                    ها</a>
                                <ul class="dropdown-menu">
                                    <li><a href="dealers-list.html"> نمای لیست </a></li>
                                    <li><a href="dealers-profile.html"> صفحه جزئیات </a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">صفحات</a>
                                <ul class="dropdown-menu">
                                    <li><a href="services.html"> خدمات </a></li>
                                    <li><a href="contact-us.html"> با ما تماس بگیرید </a></li>
                                    <li><a href="compare.html"> مقایسه وسایل نقلیه </a></li>
                                    <li><a href="faq.html"> سوالات متداول </a></li>
                                    <li><a href="404.html"> خطای 404 </a></li>
                                    <li><a href="coming-soon.html"> به زودی </a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">اخبار</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog-right-sidebar.html"> وبلاگ راست چین </a></li>
                                    <li><a href="blog-detail.html"> جزئیات وبلاگ </a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">خانه</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html"> صفحه اصلی 1 </a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header_wrap">
                        <div class="user_login">
                            <ul>
                                <li class="dropdown"><a href="#" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i>
                                        میلادموسوی <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="profile-settings.html"> تنظیمات نمایه </a></li>
                                        <li><a href="my-vehicles.html "> وسایل نقلیه من </a></li>
                                        <li><a href="post-vehicle.html"> ارسال وسیله نقلیه </a></li>
                                        <li><a href="#"> خروج از سیستم </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="header_search">

                            <form action="#" method="get" id="header-search-form">
                                <input type="text" placeholder="...جستجو" class="form-control">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                            <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navigation end -->

        </header>
        <!-- /Header -->

        <!--Page Header-->
        <section class="page-header listing_page">
            <div class="container">
                <div class="page-header_wrap">
                    <div class="page-heading">
                        <h1>لیست دکتر</h1>
                    </div>
                    <ul class="coustom-breadcrumb">
                        <li><a href="#">خانه</a></li>
                        <li>لیست دکتر </li>
                    </ul>
                </div>
            </div>
            <!-- Dark Overlay-->
            <div class="dark-overlay"></div>
        </section>
        <!-- /Page Header-->

        <!--Listing-->
        <section class="listing-page" style="direction: rtl;text-align: right">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="mobile_search">
                            <div class="sidebar_widget">
                                <div class="widget_heading">
                                    <h5><i class="fa fa-filter" aria-hidden="true"></i> خودرو رویایی خود را پیدا کنید
                                    </h5>
                                </div>
                                <div class="sidebar_filter">
                                    <form action="#" method="get">
                                        <div class="form-group select">
                                            <select class="form-control">
                                                <option> مکان را انتخاب کنید </option>
                                                <option> مکان 1 </option>
                                                <option> مکان 2 </option>
                                                <option> مکان 3 </option>
                                                <option> مکان 4 </option>
                                            </select>
                                        </div>
                                        <div class="form-group select">
                                            <select class="form-control">
                                                <option> مارک را انتخاب کنید </option>
                                                <option> مارک 1 </option>
                                                <option> مارک 2 </option>
                                                <option> مارک 3 </option>
                                                <option> مارک 4 </option>
                                            </select>
                                        </div>
                                        <div class="form-group select">
                                            <select class="form-control">
                                                <option> مدل را انتخاب کنید </option>
                                                <option> سری 1 </option>
                                                <option> سری 2 </option>
                                                <option> سری 3 </option>
                                                <option> سری 4 </option>
                                            </select>
                                        </div>
                                        <div class="form-group select">
                                            <select class="form-control">
                                                <option> سال مدل </option>
                                                <option> 1400 </option>
                                                <option> 1397 </option>
                                                <option> 1396</option>
                                                <option> 1394 </option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-label">رنج قیمت ( تومان )</label>
                                            <input id="price_range1" type="text" class="span2" value=""
                                                data-slider-min="50" data-slider-max="6000" data-slider-step="5"
                                                data-slider-value="[1000,5000]" />
                                        </div>
                                        <div class="form-group select">
                                            <select class="form-control">
                                                <option> نوع اتومبیل </option>
                                                <option> اتومبیل جدید </option>
                                                <option> ماشین دست دوم </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-block"><i class="fa fa-search"
                                                    aria-hidden="true"></i> جستجوی کار</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="result-sorting-wrapper">
                            <div class="sorting-count">
                                <p> 1 - 8 <span> از 50 لیست </span> </p>
                            </div>
                            <div class="result-sorting-by">
                                <p>مرتب سازی بر اساس :</p>
                                <form action="#" method="post">
                                    <div class="form-group select sorting-select">
                                        <select class="form-control ">
                                            <option> قیمت (پایین تا زیاد) </option>
                                            <option> 100 تا 500 تومان </option>
                                            <option> 500 تا 1000 تومان </option>
                                            <option> 1000 تا 1500 تومان </option>
                                            <option> 1500 تا 2000 تومان </option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"> <a href="#"><img src="assets/images/600x380.jpg"
                                        class="img-responsive" alt="image" /> </a>
                                <div class="label_icon">جدید</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare22">
                                        <label for="compare22">مقایسه</label>
                                    </div>
                                </div>
                            </div>

                            {% for doctor in doctor_list %}

                            <div class="product-listing-content">
                                <h5><a href="#">نام دکتر {{  doctor.name }}</a></h5>
                                {% comment %} <p class="list-price"></p>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0 کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 مایل</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>5 صندلی</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1399</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 کیلو وات</li>
                                </ul> {% endcomment %}
                                <a href="{% url 'doctor_detail' doctor.id%}" class="btn">جزئیات <span
                                        class="angle_arrow"><i class="fa fa-angle-left"
                                            aria-hidden="true"></i></span></a>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        آذربایجان غربی ,خوی</span></div>
                            </div>

                            <div class="docotor-container">
                                <h1><a href="{% url 'doctor_detail' doctor.id%}">{{  doctor.name }} </a></h1>
                            </div>

                            {% endfor %}

                        </div>
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"> <a href="#"><img src="assets/images/featured-img-3.jpg"
                                        class="img-responsive" alt="image" /> </a>
                                <div class="label_icon">جدید</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare23">
                                        <label for="compare23">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودور</a></h5>
                                <p class="list-price">90 میلیون تومان</p>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0 کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 مایل</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>5 صندلی</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1399</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 کیلو وات</li>
                                </ul>
                                <a href="#" class="btn">جزئیات <span class="angle_arrow"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        آذربایجان غربی ,خوی</span></div>
                            </div>
                        </div>
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"> <a href="#"><img src="assets/images/featured-img-2.jpg"
                                        class="img-responsive" alt="image" /> </a>
                                <div class="label_icon">Used</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare24">
                                        <label for="compare24">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودور</a></h5>
                                <p class="list-price">90 میلیون تومان</p>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0 کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 مایل</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>5 صندلی</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1399</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 کیلو وات</li>
                                </ul>
                                <a href="#" class="btn">جزئیات <span class="angle_arrow"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        آذربایجان غربی ,خوی</span></div>
                            </div>
                        </div>
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"> <a href="#"><img src="assets/images/featured-img-1.jpg"
                                        class="img-responsive" alt="image" /> </a>
                                <div class="label_icon">جدید</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare25">
                                        <label for="compare25">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودور</a></h5>
                                <p class="list-price">90 میلیون تومان</p>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0 کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 مایل</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>5 صندلی</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1399</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 کیلو وات</li>
                                </ul>
                                <a href="#" class="btn">جزئیات <span class="angle_arrow"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        آذربایجان غربی ,خوی</span></div>
                            </div>
                        </div>
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"> <a href="#"><img src="assets/images/featured-img-3.jpg"
                                        class="img-responsive" alt="image" /> </a>
                                <div class="label_icon">جدید</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare26">
                                        <label for="compare26">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودور</a></h5>
                                <p class="list-price">90 میلیون تومان</p>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0 کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 مایل</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>5 صندلی</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1399</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 کیلو وات</li>
                                </ul>
                                <a href="#" class="btn">جزئیات <span class="angle_arrow"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        آذربایجان غربی ,خوی</span></div>
                            </div>
                        </div>
                        <div class="product-listing-m gray-bg">
                            <div class="product-listing-img"> <a href="#"><img src="assets/images/featured-img-2.jpg"
                                        class="img-responsive" alt="image" /> </a>
                                <div class="label_icon">جدید</div>
                                <div class="compare_item">
                                    <div class="checkbox">
                                        <input type="checkbox" value="" id="compare27">
                                        <label for="compare27">مقایسه</label>
                                    </div>
                                </div>
                            </div>
                            <div class="product-listing-content">
                                <h5><a href="#">نام خودور</a></h5>
                                <p class="list-price">90 میلیون تومان</p>
                                <ul>
                                    <li><i class="fa fa-road" aria-hidden="true"></i>0 کیلومتر</li>
                                    <li><i class="fa fa-tachometer" aria-hidden="true"></i>30.000 مایل</li>
                                    <li><i class="fa fa-user" aria-hidden="true"></i>5 صندلی</li>
                                    <li><i class="fa fa-calendar" aria-hidden="true"></i>مدل 1399</li>
                                    <li><i class="fa fa-car" aria-hidden="true"></i>دیزلی</li>
                                    <li><i class="fa fa-superpowers" aria-hidden="true"></i>143 کیلو وات</li>
                                </ul>
                                <a href="#" class="btn">جزئیات <span class="angle_arrow"><i class="fa fa-angle-right"
                                            aria-hidden="true"></i></span></a>
                                <div class="car-location"><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                        آذربایجان غربی ,خوی</span></div>
                            </div>
                        </div>


                        <div class="pagination">
                            <ul>
                                {% if page_obj.has_previous %}
                                <li><a
                                        href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                                <li>
                                    {% endif %}

                                <li class="current">{{ page_obj.number }}</li>

                                {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    <!--Side-Bar-->
                    <aside class="col-md-3 col-md-pull-9">
                        <div class="sidebar_widget sidebar_search_wrap">
                            <div class="widget_heading">
                                <h5><i class="fa fa-filter" aria-hidden="true"></i> خودرو رویایی خود را پیدا کنید </h5>
                            </div>
                            <div class="sidebar_filter">
                                <form action="#" method="get">
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> مکان را انتخاب کنید </option>
                                            <option> مکان 1 </option>
                                            <option> مکان 2 </option>
                                            <option> مکان 3 </option>
                                            <option> مکان 4 </option>
                                        </select>
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> مارک را انتخاب کنید </option>
                                            <option> مارک 1 </option>
                                            <option> مارک 2 </option>
                                            <option> مارک 3 </option>
                                            <option> مارک 4 </option>
                                        </select>
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> مدل را انتخاب کنید </option>
                                            <option> سری 1 </option>
                                            <option> سری 2 </option>
                                            <option> سری 3 </option>
                                            <option> سری 4 </option>
                                        </select>
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> سال مدل </option>
                                            <option> 1399 </option>
                                            <option> 1398 </option>
                                            <option> 1397 </option>
                                            <option> 1396 </option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="form-label">رنج قیمت ( تومان )</label>
                                        <input id="price_range" type="text" class="span2" value="" data-slider-min="50"
                                            data-slider-max="6000" data-slider-step="5"
                                            data-slider-value="[1000,5000]" />
                                    </div>
                                    <div class="form-group select">
                                        <select class="form-control">
                                            <option> نوع اتومبیل </option>
                                            <option> اتومبیل جدید </option>
                                            <option> ماشین دست دوم </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block"> جستجوی خودرو
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="sidebar_widget sell_car_quote">
                            <div class="white-text div_zindex text-center">
                                <h3> اتومبیل خود را بفروشید </h3>
                                <p> اکنون پیشنهاد دهید و ماشین خود را بفروشید! </p>
                                <a href="#" class="btn">درخواست نقل قول <span class="angle_arrow"><i
                                            class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                            </div>
                            <div class="dark-overlay"></div>
                        </div>
                        <div class="sidebar_widget">
                            <div class="widget_heading">
                                <h5><i class="fa fa-car" aria-hidden="true"></i> آخرین خودروهایی که لیست شده اند</h5>
                            </div>
                            <div class="recent_addedcars">
                                <ul>
                                    <li class="gray-bg">
                                        <div class="recent_post_img"> <a href="#"><img
                                                    src="assets/images/post_200x200_1.jpg" alt="image"></a> </div>
                                        <div class="recent_post_title"> <a href="#">نام خودرویی که اخیراً لیست شده
                                                است</a>
                                            <p class="widget_price">98 میلیون تومان</p>
                                        </div>
                                    </li>
                                    <li class="gray-bg">
                                        <div class="recent_post_img"> <a href="#"><img
                                                    src="assets/images/post_200x200_2.jpg" alt="image"></a> </div>
                                        <div class="recent_post_title"> <a href="#">نام خودرویی که اخیراً لیست شده
                                                است</a>
                                            <p class="widget_price">98 میلیون تومان</p>
                                        </div>
                                    </li>
                                    <li class="gray-bg">
                                        <div class="recent_post_img"> <a href="#"><img
                                                    src="assets/images/post_200x200_3.jpg" alt="image"></a> </div>
                                        <div class="recent_post_title"> <a href="#">نام خودرویی که اخیراً لیست شده
                                                است</a>
                                            <p class="widget_price">98 میلیون تومان</p>
                                        </div>
                                    </li>
                                    <li class="gray-bg">
                                        <div class="recent_post_img"> <a href="#"><img
                                                    src="assets/images/post_200x200_1.jpg" alt="image"></a> </div>
                                        <div class="recent_post_title"> <a href="#">نام خودرویی که اخیراً لیست شده است
                                            </a>
                                            <p class="widget_price">98 میلیون تومان</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                    <!--/Side-Bar-->
                </div>
            </div>
        </section>
        <!-- /Listing-->

        <!--Brands-->
        <section class="brand-section gray-bg">
            <div class="container">
                <div class="brand-hadding">
                    <h5>برندهای محبوب</h5>
                </div>
                <div class="brand-logo-list">
                    <div id="popular_brands">
                        <div><a href="#"><img src="assets/images/brand-logo-1.png" class="img-responsive"
                                    alt="image"></a></div>
                        <div><a href="#"><img src="assets/images/brand-logo-2.png" class="img-responsive"
                                    alt="image"></a></div>
                        <div><a href="#"><img src="assets/images/brand-logo-3.png" class="img-responsive"
                                    alt="image"></a></div>
                        <div><a href="#"><img src="assets/images/brand-logo-4.png" class="img-responsive"
                                    alt="image"></a></div>
                        <div><a href="#"><img src="assets/images/brand-logo-1.png" class="img-responsive"
                                    alt="image"></a></div>
                        <div><a href="#"><img src="assets/images/brand-logo-2.png" class="img-responsive"
                                    alt="image"></a></div>
                        <div><a href="#"><img src="assets/images/brand-logo-3.png" class="img-responsive"
                                    alt="image"></a></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Brands-->

        <!--Footer -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <h6> رده های برتر </h6>
                            <ul>
                                <li><a href="#"> نام تجاری اتومبیل </a></li>
                                <li><a href="#"> نام تجاری اتومبیل 2 </a></li>
                                <li><a href="#"> نام تجاری اتومبیل 3 </a></li>
                                <li><a href="#"> نام تجاری خودرو 4 </a></li>
                                <li><a href="#"> نام تجاری خودرو 5 </a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h6> درباره ما </h6>
                            <ul>
                                <li><a href="#"> حریم خصوصی </a></li>
                                <li><a href="#"> اتومبیل های هیبریدی </a></li>
                                <li><a href="#"> کوکی ها </a></li>
                                <li><a href="#"> علائم تجاری </a></li>
                                <li><a href="#"> شرایط استفاده </a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h6> پیوندهای مفید </h6>
                            <ul>
                                <li><a href="#"> شرکای ما </a></li>
                                <li><a href="#"> مشاغل </a></li>
                                <li><a href="#"> نقشه سایت </a></li>
                                <li><a href="#"> سرمایه گذاران </a></li>
                                <li><a href="#"> درخواست پیشنهاد </a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h6>اشتراک خبرنامه</h6>
                            <div class="newsletter-form">
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control newsletter-input" required
                                            placeholder="ایمیل خود را وارد کنید" />
                                    </div>
                                    <button type="submit" class="btn btn-block">مشترک شوید <span class="angle_arrow"><i
                                                class="fa fa-angle-left" aria-hidden="true"></i></span></button>
                                </form>
                                <p class="subscribed-text">*ما معاملات عالی و آخرین اخبار خودرو را برای کاربران مشترک
                                    خود ارسال
                                    می کنیم
                                    هر هفته.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6 text-right">
                            <div class="footer_widget">
                                <p> : دانلود اپلکیشن ما</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-apple" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="footer_widget">
                                <p>ارتباط با ما از طریق :</p>
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <p class="copy-right">Copyright &copy; 2019 rtl-html.ir. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /Footer-->

        <!--Back to top-->
        <div id="back-top" class="back-top"> <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a>
        </div>
        <!--/Back to top-->

        <!--Login-Form -->
        <div class="modal fade" id="loginform">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="text-align: right;direction: rtl">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h3 style="text-align: left" class="modal-title">ورود</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="login_wrap">
                                <div class="col-md-6 col-sm-6">
                                    <form action="#" method="get">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="نام کاربری یا ایمیل*">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="پسورد*">
                                        </div>
                                        <div class="form-group checkbox">
                                            <input type="checkbox" id="remember">
                                            <label for="remember">مرا به خاطر بسپار</label>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="ورود" class="btn btn-block">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h6 class="gray_text">سریع وارد شوید</h6>
                                    <a href="#" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square"
                                            aria-hidden="true"></i> ورود با فیس بوک</a> <a href="#"
                                        class="btn btn-block twitter-btn"><i class="fa fa-twitter-square"
                                            aria-hidden="true"></i> ورود با توییتر</a> <a href="#"
                                        class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square"
                                            aria-hidden="true"></i> ورود با گوگل</a>
                                </div>
                                <div class="mid_divider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <p>نام کاربری ندارید؟ <a href="#signupform" data-toggle="modal" data-dismiss="modal">اینجا ثبت
                                نام کنید</a>
                        </p>
                        <p><a href="#forgotpassword" data-toggle="modal" data-dismiss="modal">رمزتان را فراموش کرده
                                اید؟</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!--/Login-Form -->

        <!--Register-Form -->
        <div class="modal fade" id="signupform">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title">Sign Up</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="signup_wrap">
                                <div class="col-md-6 col-sm-6">
                                    <form action="#" method="get">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder=" نام و نام خوانوادگی">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="ایمیل">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="پسورد">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="تکرار پسورد ">
                                        </div>
                                        <div class="form-group checkbox">
                                            <input type="checkbox" id="terms_agree">
                                            <label for="terms_agree">من شرایط و ظوابط <a href="#"> را
                                                    میپذیرم</a></label>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="ثبت نام" class="btn btn-block">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h6 class="gray_text">سریعتر وارد شوید</h6>
                                    <a href="#" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square"
                                            aria-hidden="true"></i> ورود با فیس بوک</a> <a href="#"
                                        class="btn btn-block twitter-btn"><i class="fa fa-twitter-square"
                                            aria-hidden="true"></i>ورود با توییتر</a> <a href="#"
                                        class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square"
                                            aria-hidden="true"></i> ورود با گوگل پلاس</a>
                                </div>
                                <div class="mid_divider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <p>حساب کاربری دارید؟ <a href="#loginform" data-toggle="modal" data-dismiss="modal">ورود</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--/Register-Form -->

        <!--Forgot-password-Form -->
        <div class="modal fade" id="forgotpassword">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title">بازیابی پسورد</h3>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="forgotpassword_wrap">
                                <div class="col-md-12">
                                    <form action="#" method="get">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="آدرس ایمیل *">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Reset My Password" class="btn btn-block">
                                        </div>
                                    </form>
                                    <div class="text-center">
                                        <p class="grey_text"> به دلایل امنیتی رمز ورود شما را ذخیره نمی کنیم. رمزتون
                                            بازنشانی می شود و مورد جدیدی ارسال می شود. </p>
                                        <p><a href="#loginform" data-toggle="modal" data-dismiss="modal"><i
                                                    class="fa fa-angle-double-left" aria-hidden="true"></i> بازگشت به
                                                صفحه ورود</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/Forgot-password-Form -->

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/interface.js"></script>
        <!--bootstrap-slider-JS-->
        <script src="assets/js/bootstrap-slider.min.js"></script>
        <!--Slider-JS-->
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>

    </body>

</html>